# --- Bluetooth (KIKAPCSOLVA) ---
CONFIG_BT_ENABLED=n

# --- Wi-Fi & ESP-NOW / Networking ---
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=10
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32

# --- Console / USB CDC Output (Megtartva a logoláshoz) ---
CONFIG_ESP_CONSOLE_USB_CDC=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# --- Power Management ---
CONFIG_PM_ENABLE=n